

.substrate {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  width: 200px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.header {
  background: #f5f5f5;
  padding: 5px;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.body {
  padding: 20px 10px;
}

.formGroup {
  margin-bottom: 20px;
  border: 1px solid var(--color-secondary);
  position: relative;
  display: flex;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.formGroupActive {
  border-color: var(--color-primary);
}

.label {
  position: absolute;
  top: -8px;
  left: 2px;
  background-color: white;
  color: var(--color-secondary);
  font-size: .75em;
  display: none;
}

.labelActive {
  display: block;
}

.input {
  padding: 10px 5px;
  border: none;
  width: 100%;
  outline: none;
  background: white;

  &::placeholder {
    color: var(--color-secondary);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.buttonSubmit {
  color: var(--color-primary);
}
